{% extends 'base.html' %}
{% block title %}
    update
{% endblock title %}
{% block body %}

<div class="container">
    <h2>Update a ToDo</h2>
    <form action="/update/{{allTodo.sno}}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label" >Todo Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{allTodo.title}}">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label" >Todo Detail</label>
            <input type="text" class="form-control" name="desc" id="desc" value="{{allTodo.desc}}">
        </div>
        <button type="submit" class="btn btn-primary btn-dark">Submit</button>
    </form>
</div>
{% endblock body %}